*.pyc
*.pyd
*.dylib
*.so
*.whl
*.csv
*.zip
coverage.html/*
_cache/*
.coverage
dist/*
build/*
.eggs/*
.hypothesis/*
*egg-info/*
prof
_doc/CHANGELOGS.rst
_doc/LICENSE.txt
_doc/auto_examples/*
_doc/examples/_cache/*
_doc/examples/plot_*.png
_doc/examples/plot_*.xlsx
_doc/examples/*.html
_doc/_static/require.js
_doc/_static/viz.js
_unittests/ut__main/*.png
_unittests/ut__main/_cache/*
_unittests/ut__main/*.html
_unittests/.hypothesis/*
