coverage
ijson
jupyter_sphinx
jyquickhelper
matplotlib
pandas>=0.22
pandocfilters
Pillow
pycodestyle
pylint
pyquickhelper>=1.9.3240
scikit-learn
scipy
sphinx
sphinxcontrib.imagesvg
sphinx_readable_theme
ujson
wheel
