autopep8
coverage
ijson
jupyter_sphinx
jyquickhelper
matplotlib
pandas>=1.1.0
pandocfilters
Pillow
pycodestyle
pylint
pyquickhelper>=1.9.3240
scikit-learn
scipy
sphinx
sphinxcontrib.imagesvg
sphinx_gallery
ujson
wheel
