autopep8
coverage
ijson
jupyter_sphinx
jyquickhelper
matplotlib
pandas>=1.1.0
pandocfilters
Pillow
pycodestyle
pylint>=2.14.0
pyquickhelper>=1.10
pyquicksetup
scikit-learn
scipy
sphinx
sphinxcontrib.imagesvg
sphinx_gallery
ujson
wheel
