autopep8
black
coverage
furo
ijson
jupyter_sphinx
jyquickhelper
matplotlib
nbsphinx
pandas>=2
pandocfilters
Pillow
pycodestyle
pytest
pytest-cov
ruff
scikit-learn
scipy
sphinx
sphinx-issues 
sphinx-runpython
sphinx_gallery
ujson
wheel
